.imageWrapper {
    border: solid 1px #c4c4c4;
    margin: 10px;
    overflow: hidden;

    &.featured{
        width:300px;
        height:300px;
    }
    &.related{
        width:100px;
        height:100px;
    }
    > img{
        width:100%;
    }
}